<p id="notice"><%= notice %></p>

<h1>#ねこ部でつぶやいてモザイクアートを作ろう！</h1>

  <% @images.each do |image| %>
    <div class="post">
        <%= image_tag(url_for(:action => 'get_image', :id => image.id), :size => '200x200') %>

        <p class="user_name"> <%= image.name %> </p>

        <p class="content"><%= image.content %><p>
    </div>
  <% end %>

<br>

<%= paginate @images, outer_window: 4 %>

<!-- <%= link_to 'New Image', new_image_path %> -->
